<div id="footer" class="ui-roundedbox">
    <div class="ui-roundedbox-corner ui-roundedbox-tl">
        <div class="ui-roundedbox-corner ui-roundedbox-tr">
            <div class="ui-roundedbox-corner ui-roundedbox-bl">
                <div class="ui-roundedbox-corner ui-roundedbox-br">
                    <div class="ui-roundedbox-content">
                        <div class="police-info">
                            <a class="police" target="_blank" href="http://www.sznet110.gov.cn/index.jsp"><img src="http://static.fanfou.com/img/j_02.jpg" alt=""></a>
                            <a class="police" target="_blank" href="http://www.sznet110.gov.cn/webrecord/innernet/Welcome.jsp?bano=4403301900851"><img src="http://static.fanfou.com/img/sznet110gangting.gif" alt=""></a>
                        </div>
                        <a href="/help/" target="_blank">关于小站</a>
                        " | "
                        <a href="/help/aboutme" target="_blank">个人介绍</a>
                        " | "
                        <a href="/help/webstate" target="_blank">网站声明</a>
                        <br>
                        <p>
                            ©
                            <span title="I:0; Q:2; S:1; C:0; F:0; T:6.01; H:v17">2012</span> MiniMicroBlog
                            <a href="http://www.miibeian.gov.cn" target="_blank" id="miibeian">京药准字号1314521</a>
                            <span class="szinfo">菜鸟开源学习 版权所有</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>