<div id="header">
    <h1>
        <a hidefocus="true" class="global-header-anchor" href="http://127.0.0.1:8000/">
            <p class="pngfix global-header-content">首页</p>
        </a>
    </h1>
    <div id="navigation" class="ui-roundedbox">
        <div class="ui-roundedbox-corner ui-roundedbox-tl">
            <div class="ui-roundedbox-corner ui-roundedbox-tr">
                <div class="ui-roundedbox-corner ui-roundedbox-bl">
                    <div class="ui-roundedbox-corner ui-roundedbox-br">
                        <div class="ui-roundedbox-content">
                            <ul>
                                {% if session.islogin %}
                                    <li>
                                        <a href="/home/1/">家园</a>
                                    </li>
                                    <li>
                                        <a href="/square/1/">广场</a>
                                    </li>
                                    <li>
                                        <a href="/find/1/">找人</a>
                                    </li>
                                    <li>
                                        <a href="/logout/">退出</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="http://127.0.0.1:8000/">首页</a>
                                    </li>
                                    <li>
                                        <a href="/login/">登录</a>
                                    </li>
                                    <li>
                                        <a href="/register">注册</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>